.projectsh1{
  position: relative;
  top: 0;
  left: 0;
font-size:3rem;
margin:2rem;
color:#333;
}

.volh1{
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.logoi{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.2rem;
  width: 5rem;
  height: 5rem;
  transform: rotate(-30deg);
  z-index: 99999999;
}

.imgpoz{
  width: 100%;
  height: 100%;
}

.centercontact{
  text-align: center;
}

.centercontact > .page-home{
  text-align: justify;
  margin-left: 10vw;
}
.centercontact h4{
  font-size: 1.3rem;
}

#contentmain{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 80%;
  background:transparent url(../img/bg.gif) no-repeat;
  background-size:100% 100%;
  transform: rotate(10deg);
  margin-top: -5rem;
}

#contentmain h1{
  font-size: 1.5rem;
  /* margin-left:1vw; */
}
.paragraphs{
position: relative;
top: 15%;
width: 100%;
height: 80%;
}

.aboutmeText{
  height: 60%;
  width: 90%;
  margin-top: 3rem;
  overflow-y: scroll;
}

.aboutmeText::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;

}

.aboutmeText::-webkit-scrollbar-thumb {
  background-color: #f90a23;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

.aboutmeText::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#contentmain h1{
/* margin-top: 10vh; */
  color:#7F6137;
  text-shadow:1px 1px 1px #fff;
  /* position: absolute; */
 
  padding-left: 20rem;
  /* transform: translate(-50%); */
}
#contentmain p{
margin-top: 1vh;
  width: 90%;
  padding-left: 8rem;
  text-indent: 2rem;
  
}

.wrapper .button{
  display: inline-block;
  height: 3.8rem;
  width: 3.8rem;
  overflow: hidden;
  background: #fff;
  border-radius: 15rem;
  cursor: pointer;
  box-shadow: 0px 1rem 1rem rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  text-align: left;
  align-items: center;    
  margin-left: 2rem;
  margin-top: 4rem;
}
.wrapper .button:hover{
  width: 12rem;
}
.wrapper .button .icon{
  display: inline-block;
  height: 3.8rem;
  width: 3.8rem;
  text-align: center;
  border-radius: 15rem;
  box-sizing: border-box;
  line-height: 3.8rem;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 1.8rem;
  line-height: 3.8rem;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

a {
  color: inherit;
}

.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}



@media only screen and (max-width: 721px) {
  body {
    width: 100%!important;
  }
  ul#navigation{
      display: none;
  }
  .navbaropen{
      opacity: 1;
      display: block;
  }
  .grid--xrayimg .grid__img{
      width: 7rem;
      height: 12rem;
  }
  .textcurve{
      font-size: 4rem;
  }
  .scroll-img {
      width: 15rem;
      height: 5rem;
  }
  .grid__item:nth-child(odd) {
      align-self: baseline;
  }
  .grid__item:nth-child(even) {
      margin-top: 10rem;
      margin-left: -10rem;
  }
  .grid{
      padding: 10rem 0 5rem 0;
  }
  #contentmain{
      opacity: 0;
  }
  .grid__item-title{
      font-size: 1rem;
      color: white;
      padding: 0rem;
  }
  .volh1{
      font-size: 1rem;
  }
  .grid__item-description{
      margin-top: 0.1rem;
      margin-bottom: 8rem;
  }
  .grid__item-titlewrap{
      padding-top: 15rem;
  }
  .grid__item{
      padding-top: 1rem;
  }
  .phonerez{
      padding-top: 3rem;
  }
  .menu__item{
      font-size: 190%!important;
  }
  .wrapper .button{
  height: 2rem!important;
  width: 2rem!important; 
  margin-left: 1rem!important;
  margin-top: 2rem!important;
  }
}

.test{
  position: absolute;
  width: 100%;
  background-color: red;
  height: 1%;
  z-index: 10;

}

.footerPage{
  position: fixed;
  bottom: 0;
  background-color: gray;
  width: 100%;
  height: 5vh;
  font-size: 1.5rem;
}
.typewriter{
  position: fixed;
  bottom: 0;
  height: 5vh;
  right: 0;
  background-color: gray;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size: 1.5rem;
  
  animation: 
    typing 3.5s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 180% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: red; }
}